:root{
    font-size: 10px;
}

body{
    background: linear-gradient(120.21deg, #3E708E 11.18%, #64969B 74.17%);
    background-repeat: no-repeat;
}

body > div{
    display: flex;
    margin: 10% 10%;
}

.kreativ{
    background: #FFFFFF;
    width: 55%;
    background-image: url(../image/snake.svg);
}

.home{
    background: linear-gradient(162.21deg, #517879 4.83%, #1E3E57 103.44%);
    width: 45%;
}

.krea{
    text-align: initial;
    margin: 10%;
    font-family: "Space Grotesk";
    font-weight: 700;
    font-size: 2rem;
    color: #476D73;
}

.section{
    margin-left: 16%;
}

.let{
    font-family: "Space Grotesk";
    font-weight: 700;
    font-size: 2rem;
}

.h3{
    font-family: "Space Grotesk";
    font-weight: 400;
    font-size: 1.4rem;
    margin-bottom: auto;
}

span{
    color: #CCCCCC;
}

.in{
    width: 30rem;
    height: 2.5rem;
}

.sing{
    width: 30rem;
    height: 2.5rem;
    background: #27485D;
    color: #FFFFFF;
    font-size: 1.2rem;
    font-weight: 700;
}

.log{
    margin-left: 30%;
}

.login{
    color: #476D73;
    font-size: 1.2rem;
}

/**/

ul{
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin-right: 4rem;
}

li{
    margin: 2rem 2rem;
}

.nav{
    color: #FFFFFF;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
}

.fun{
    color: #FFFFFF;
    font-family: 'Space Grotesk';
    font-size: 4rem;
    font-weight: 700;
    margin: 12rem 4rem 0rem;
}

.albert{
    color: #FFFFFF;
    font-family: 'Space Grotesk';
    font-weight: 700;
    font-size: 1.2rem;
    margin-left: 4rem;
}