body{
    font-family: 'Inter', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Work Sans', sans-serif;
    font-size: 10px;
    background: #212529;
}

header > div{
    display: flex;
    justify-content: space-between;
    margin: 0 5rem;
    font-size: 1.3rem;
    align-items: center;
    font-family: "Poppins";
    font-weight: 600;
}

.navigation{
    display: flex;
    justify-content: space-evenly;
    width: 50%;
}

a{
    text-decoration: none;
    color: #FFFFFF;
}

.orang{
    color: #FFB742;
}

.hireme{
    width: 7rem;
    height: 2.5rem;
    background: #FFB742;
    border-radius: 20px;
    text-align: center;
}

.hire{
    color: #212529;
}

/*main*/

.text{
    text-align: center;
    margin-top: 10rem;
    color: #FFFFFF;
}

.text1{
    font-family: "Inter";
    font-weight: 700;
    font-size: 2rem;
}

.text2{
    font-family: "Inter";
    font-weight: 700;
    font-size: 3rem;
}

.text3{
    font-family: "Inter";
    font-weight: 400;
    font-size: 1rem;
}

.face{
    background: #FFB742;
    border-radius: 50%;
    margin-top: 3rem;
    margin-bottom: 5rem;
}

/*cards*/

.cards{
    display: flex;
    justify-content: space-around;
}

div.cards > div{
    width: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgba(56, 62, 69, 0.44);
    height: 5rem;
}

.emblem{
    background: #FFFFFF;
    border-radius: 50%;
}

div.card{
    text-align: center;
    font-family: "Inter";
    font-weight: 700;
}

div.card:hover{
    background: #FFB742;
}

.card:hover .plus, .card:hover .plus1{
    color: black;
}

.plus{
    font-size: 3rem;
    color: #FFB742;
}

.plus1{
    color: #FFFFFF;
    font-size: 1.1rem;
}

.foto{
    display: flex;
    margin-top: 6rem;
}

.who{
    font-family: "Poppin";
    font-weight: 600;
    font-size: 2rem;
    color: #FFB742;
    background: rgba(255, 255, 255, 0.08);
    border-radius: 20rem;
    width: 25%;
    text-align: center;
    margin: 0%;
}

.about{
    font-family: "Roboto";
    font-weight: 700;
    font-size: 4rem;
    color: #FFFFFF;
    margin: 0%;
}

.hi{
    font-family: "Poppins";
    font-weight: 400;
    font-size: 1.3rem;
    color: #D5D5D5;
}

.hire{
    font-family: "Poppins";
    font-weight: 700;
    font-size: 1.5rem;
    color: #212529;
    background: #FFB742;
    width: 25%;
    text-align: center;
    border-radius: 15rem;
}

.my{
    font-family: "Poppin";
    font-weight: 600;
    font-size: 2rem;
    color: #FFB742;
    background: rgba(255, 255, 255, 0.08);
    text-align: center;
    text-transform: uppercase;
    width: 20%;
    margin: 0 auto;
    border-radius: 20px;
}

.featured{
    font-family: "Roboto";
    font-weight: 700;
    font-size: 4.8rem;
    color: #FFFFFF;
    margin: 0 auto;
    text-align: center;
}

.olld{
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 3rem;
}

.all{
    font-family: "Poppins";
    font-weight: 600;
    font-size: 1.6rem;
}

.all:hover{
    color: #212529;
}

.all:hover{
    background: #FFB742;
}

.images{
    display: flex;
    justify-content: space-evenly;
    margin-top: 1rem;
}

/*footer*/

.footer{
    display: flex;
    justify-content: space-around;
    margin: 2rem 3rem;
    background: #1C1C1C;
    height: 20rem;
}

li{
    list-style-type: none;
}

ul{
    width: 20%;
    margin-top: 6rem;
}

.bansal{
    font-family: "Poppins";
    font-weight: 700;
    font-size: 2rem;
    color: #FFB742;
}

.crea{
    font-family: 'Work Sans';
    font-weight: 600;
    font-size: .9rem;
    color: #D4D4D4;
}

.user{
    font-family: 'Work Sans';
    font-weight: 700;
    font-size: 1.7rem;
    color: #F5FBF2;
}

.foot{
    font-family: 'Work Sans';
    font-weight: 700;
    font-size: 1rem;
    color: #7B7B7B;
}