:root{
    font-family: "Open Sans";
    min-width: 1000px;
    max-width: 1400px;
}

body{
    margin: 15px 15px;
}

.login{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    height: 100vh;
    margin: 2rem 2rem;
}

.logo{
    margin-bottom: 20rem;
}

.bord{
    border-right: 10px solid #FFA500;
    height: 40rem;
}

.enter{
    margin-top: 20rem;
}

label{
    color: #969697;
    font-weight: 400;
    font-size: 1.3rem;
}

.in{
    width: 17rem;
    height: 2.5rem;
}

.vhid{
    background: #00BFFF;
    text-align: center;
    width: 7rem;
    margin: 4rem 0rem 0 8rem;
    padding: 1rem;
}

.hid{
    color: #000000;
    font-weight: 700;
    text-decoration: none;
    font-size: 1.5rem;
}

/*page2*/

.header{
    background: #155767;
    height: 10vh;
    display: flex;

}

.head{
    width: 20%;
    height: 100%;
    border: 1px solid #707070;
    background: white;
    border-end-end-radius: 50px;
    border-top-right-radius: 50px;
}

.heade{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.us{
    display: flex;
}

.user{
    width: 3rem;
    height: 3rem;
    background: white;
    padding-left: 1rem;
    padding-top: 1rem;
    border-radius: 50px;
}

.users{
    color: #FFFFFF;
    padding: 1rem;
    font-weight: 400;
    font-size: 1.2rem;
}

.config{
    display: flex;
    justify-content: flex-end;
    margin: 10px 0;
}

.refresh{
    background: #00BFFF;
    text-align: center;
    color: white;
    font-weight: 700;
    padding: 0 1rem;
}

.conf{
    background: #080000;
    width: 3rem;
    height: 3.3rem;
    text-align: center;
}

.ref{
    padding-top: .6rem;
}

/*main*/

main{
    display: flex;
    height: 800px;
}

.b{
    font-weight: 700;
}

.content{
    border: 1px solid #707070;
    width: 25%;
    padding: 9rem 0px 0 2rem;
    font-size: 1.6rem;
}

.right{
    border: 1px solid #707070;
    width: 75%;
}

.contentright{
    display: flex;
    margin: 0rem 2rem;
    justify-content: space-between;
}

.save{
    display: flex;
    margin-top: 1rem;
}

.button{
    background: #A2A3A4;
    width: 9rem;
    border-radius: 1rem;
    height: 2rem;
    text-align: center;
    padding: .7rem 0;
    margin: 0 2rem;
}

a{
    text-decoration: none;
    color: #FFFFFF;
}

form{
    margin: 3rem 24rem 0 3rem;
}

input{
    height: 2.5rem;
}

.inpt{
    width: 30rem;
}

.code{
    display: flex;
}

.country{
    margin-right: 8.4rem;
}

.generate{
    display: flex;
}

.key{
    background: #A2A3A4;
    padding: .5rem;
}

.inp{
    width: 18.4rem;
}

/*page3*/

.main{
    margin-top: 5rem;
}

.status{
    width: 10rem;
    border: 1px solid #707070;
    text-align: center;
    padding: 1rem;
    margin-left: 5rem;
}

.search{
    height: 3.5rem;
    margin-top: 1rem;
    margin-left: 2rem;
    width: 30rem;
}

.table{
    display: flex;
    justify-content: space-evenly;
}

.tabl{
    font-weight: 400;
    color: #969697;
}

/*page4*/

.digital{
    font-weight: 700;
    font-size: 1.6rem;
    margin-left: 3rem;
}

select{
    height: 2.5rem;
    width: 14rem;
}

.charging{
    margin-left: 3rem;
}

.station{
    margin-left: 3rem;
    width: 32rem;
}

.identification{
    background: rgba(214, 214, 214, 0.16);
    text-align: center;
    width: 100%;
}

.leftright{
    display: flex;
    justify-content: center;
}

.lr{
    background: #00BFFF;
    color: #F9F7F7;
    width: 3rem;
    height: 2.3rem;
    text-align: center;
    padding-top: 0.4rem;
    font-size: 1.5rem;
    font-weight: 700;
}

.tab{
    border: 1px solid black;
    height: 2rem;
    width: 10rem;
    border-radius: 0.5rem;
    text-align: center;
    padding-top: 0.5rem;
}

.power{
    width: 100%;
    margin-left: 1rem;
}

.make{
    font-weight: 700;
    font-size: 1.5rem;
}

.image{
    display: flex;
    justify-content: space-around;
}

/*page5*/

.cancel{
    background: #969697;
    padding: 1rem;
}

.general{
    display: flex;
    justify-content: space-around;
}

.gener{
    width: 25rem;
}

.radio{
    display: block;
    margin-right: auto;
    margin-left: 35rem;
}

#all{
    height: auto;
}

input[type="radio"] {
    
}