:root{
    background-color: #F5F5F5;
}
header{
    height: 90px;
    background-color: #202846;
    color: white;
    font-size: 1rem;
}

.gora{
    display: inline-flex;
    list-style-type: none;
    
}

.logo{
    margin: 0px 60px 0px 27px;

}

.menu{
    margin: 2rem;
}

.bud{
    height: 100px;
    background-color: #C6C6DC;
    color: #202846;
    font-size: 48px;
    padding: 40px 0 0 150px;
    margin: 30px 0px;
}

.budynok{
    margin: -16px 0px 0px 133px;
}

.misce{
    color: rgba(0, 0, 0, 0.61);
    height: 40px;
    margin: 50px 50px 0px 50px;
    font-size: 1.5rem;
    text-align: center;
    background-color: #E8E8E8;
    padding: 15px 0 0 0;
}

.strilka{
    position: relative;
    left: 400px;
}

.card1{
    height: 300px;
    margin: 30px 50px;
    background: #BDBDC6;
    display: flex;
}

.card1:hover{
    background: #AEAEE2;
}

h3{
    font-size: 2rem;
}

.card11{
    margin: 0 23px 0 0;
}

.card1img{
    padding: 20px 20px 20px 40px;
}

.zirka1{
    height: 45px;
    position: relative;
    left: 50%;
}

.zirka1:hover{
    fill: #FFFF00;
}

.detali{
    height: 50px;
    width: 270px;
    background: #202846;
    text-align: center;
    color: white;
    border-radius: 50%;
    align-self: flex-end;
}

.detali:hover{
    background: #EF075B;
   
}

.opys{
    height: 184px;
    background: #D7D7DD;
    border-top: 3px solid #FFFFFF;
    text-align: center;
}

.kartka{
    width: 1000px;
    height: 515px;
    background: #BDBDC6;
    display: flex;
    align-items: center;
    margin: auto;
}

.kartka1{
    width: 30%;
    text-align: center;
}

.kartka2{
    width: 65%;
}

.avatar{
    color: white;
    background: #69749B;
    font-size: 24px;
    text-decoration: none;
    border-radius: 10px;
}

.seting{
    color: white;
    background: #484A54;
    font-size: 24px;
    text-decoration: none;
    border-radius: 10px;
}

.dani{
    font-size: 36px;
}

.rozdil{
    height: 2px;
    background-color: white;
}

.kontakt{
    height: 600px;
    display: flex;
}

.kont1{
    font-size: 32px;
    border-bottom: 3px solid #202846;
}

.kont2{
    font-size: 30px;
    text-decoration: none;
}

.foot{
    color: white;
    background: #202846;
    height: 35px;
    padding-left: 60px;
    padding-top: 13px;
    
}