header{
        
    height: 950px;
    background-repeat: no-repeat;
    background-image: url("../image/Успенський\ собор\ 1.png");
    margin-top: 50px;
}

h1{
    font-size: 64px;
    text-align: center;
    color: #28CDE3;
}

.with{
    color: black;
}

.prapor{
    padding-left: 20px;
    padding-top: 100px;
}

.harkiv{
font-size: 50px;
padding-left: 5rem;
color: white;
}

.posti{
font-size: 48px;
border-bottom: 5px solid #28CDE3;
width: 330px;
}

.ukr{
font-size: 2rem;
border-bottom: 5px solid #28CDE3;
text-align: center;
margin: 0 500px 0 500px;
}

.knopka{
color: white;
font-size: 2.3rem;
background-color: #28CDE3;
text-decoration: none;
text-align: center;
}

.knopk{
    text-align: center;
}

.footer{
background-color: #0A2DA9;
height: 410px;
width: 100%;
text-align: center;
}

.with1{
color: white;
}

.cards{
    display: inline-flex;
}

.card1{
    width: 40%;
    background-image: url("../image/лопанська\ вежа.png");
    background-repeat: no-repeat;
    border: 0px solid;
    border-radius: 35px;
    box-shadow: 5px 5px 5px gray;
    font-size: 2rem;
    margin: 3rem;
}

h3{
    font-size: 2.3rem;
    padding-top: 17rem;
}

.card2{
    width: 40%;
    background-image: url("../image/французький\ бульвар.png");
    background-repeat: no-repeat;
    border: 0px solid;
    border-radius: 35px;
    box-shadow: 5px 5px 5px gray;
    font-size: 2rem;
    margin: 3rem;
}

.card3{
    width: 40%;
    background-image: url("../image/Сад-Шевченко-768x512\ 1.png");
    background-repeat: no-repeat;
    border: 0px solid;
    border-radius: 35px;
    box-shadow: 5px 5px 5px gray;
    font-size: 2rem;
    margin: 3rem;
}

.cuor{
    height: 877px;
    background-image: url("../image/серце.png");
    background-repeat: no-repeat;
    background-position: top;
    text-align: center;
    
}
