:root{
    font-family: 'Rosario';
    font-size: 10px;
}

body{
    margin: 0;
}

header{
   display: flex;
   width: 100%;
   background: #000000;
   height: 12rem;
   padding: 0;
   position: fixed;
   z-index: 2;
   top: 0;
}

a{
    text-decoration: none;
}

.nav{
    display: flex;
    width: 70%;
    align-items: center;
    justify-content: space-around;
}

.nav > a{
    color: #FFFCFC;
    font-size: 3rem;
    font-weight: 700;
    font-style: italic;
    margin: 2rem;
}

main{
    margin: 0 auto;
    width: 100%;
}

.card{
    display: flex;
    height: 100vh;
    justify-content: space-evenly;
    justify-items: center;
}

.cd{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding-top: 12rem;
}

.pien{
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pien > img{
    width: 90%;
    margin: 5% auto;
}

.pieno{
    position: relative;
    animation: pieno 1s linear;
}

@keyframes pieno{
    from {left: -100%; }
    to {left: 0; }
}

.pieno2{
    position: relative;
    animation: pieno2 1s linear;
}

@keyframes pieno2{
    from{right: -100%;}
    to{right: 0;}
}

.pieno3{
    position: relative;
    animation: pieno3 2s linear;
}

@keyframes pieno3{
    from{left: -100%;}
    to{left: 0;}
}

.pieno4{
    position: relative;
    animation: pieno4 2s linear;
}

@keyframes pieno4{
    from{right: -100%;}
    to{right: 0;}
}

/*page2*/

.card2{
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.pg2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 12rem;
    box-sizing: border-box;
    height: 100vh;
}

.rotondo{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fisso{
    width: 50%;
}

.fisso > img{
    width: 100%;
}

.giro{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.giro > img{
    width: 100%;
}

.rotolo{
    color: #000000;
    font-weight: 700;
    font-style: italic;
    font-size: 4rem;
    margin-top: auto;
    text-align: center;
}

.ltop{
    position: relative;
    animation: ltop 10s infinite;
}

@keyframes ltop{
    0% {left: 0; top: 0;}
    25% {left: 30rem; top: 0;}
    50% {left: 30rem; top: 30rem;}
    75% {left: 0; top: 30rem;}
    100% {left: 0; top: 0;}
}

.lbottom{
    position: relative;
    animation: lbottom 10s infinite;
}

@keyframes lbottom{
    0% {left: 0; bottom: 0;}
    25% {left: 0; bottom: 30rem;}
    50% {left: 30rem; bottom: 30rem;}
    75% {left: 30rem; bottom: 0;}
    100% {left: 0; bottom: 0;}
}

.rtop{
    position: relative;
    animation: rtop 10s infinite;
}

@keyframes rtop{
    0% {right: 0; top: 0;}
    25% {right: 0; top: 30rem;}
    50% {right: 30rem; top: 30rem;}
    75% {right: 30rem; top: 0;}
    100% {right: 0; top: 0;}
}

.rbottom{
    position: relative;
    animation: rbottom 10s infinite;
}

@keyframes rbottom{
    0% {right: 0; bottom: 0;}
    25% {right: 30rem; bottom: 0;}
    50% {right: 30rem; bottom: 30rem;}
    75% {right: 0; bottom: 30rem;}
    100% {right: 0; bottom: 0;}
}

/*page3*/

.page3{
    height: 100vh;
    margin-top: 40rem;
}

.meet{
    font-weight: 700;
    font-style: normal;
    font-size: 8rem;
    text-align: center;
}

.stylist{
    display: flex;
    justify-content: space-around;
}

.styl > img{
    width: 100%;
}

.styl{
    width: 20%;
}

.mered{
    opacity: 0;
    position: absolute;
    transform: translate(0%, -100%);
}

.meredith:hover .mered{
    opacity: 1;
}

.jaso{
    opacity: 0;
    position: absolute;
    transform: translate(0%, -100%);
}

.jason:hover .jaso{
    opacity: 1;
}

.rya{
    opacity: 0;
    position: absolute;
    transform: translate(0%, -100%);
}

.ryan:hover .rya{
    opacity: 1;
}

.jame{
    opacity: 0;
    position: absolute;
    transform: translate(0%, -100%);
}

.james:hover .jame{
    opacity: 1;
}

/*page4*/

.page4{
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.get{
    display: flex;
    width: 85%;
    align-items: center;
    justify-content: space-between;
}

.areal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.getin{
    font-weight: 700;
    font-style: italic;
    font-size: 6rem;
    margin: 0;
    text-align: center;
}

.input{
    background: #E5E5E5;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2%;
    box-sizing: border-box;
}

.namepss{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 2%;
    box-sizing: border-box;
}

input{
    width: 45%;
    height: 6rem;
}

textarea{
    width: 100%;
    height: 20rem;
    resize: none;
    padding-left: 1rem;
}

.map{
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
}

iframe{
    width: 100%;
    height: 50rem;
}

.footer{
    display: flex;
    justify-content: space-around;
    margin-top: -15rem;
}

.contact{
    text-align: center;
    font-size: 2rem;
    font-style: italic;
}

a{
    color: #000000;
}

.gyr{
    font-style: normal;
    font-size: 2.3rem;
}

.open{
    font-size: 3rem;
    text-align: center;
    margin-top: 0;
}

.connect{
    font-size: 3rem;
    margin: 0 auto;
}